/* Aplicar la fuente Google a todo el cuerpo */
body, html {
    height: 100%;
    margin: 0;
    font-family: "Calibri", sans-serif; /* Aplicar Calibri según manual corporativo */
}

/* Aplicar la fuente Arial a los títulos */
h1, h2, h3, h4, h5, h6 {
    font-family: "Arial", sans-serif; /* Aplicar Arial según manual corporativo */
}

/* Color de fondo personalizado para la navbar */
.navbar-custom {
    background-color: #851A31; /* Color institucional */
}

/* Aplicar la fuente al navbar-brand */
.navbar-brand {
    font-family: "Arial", sans-serif;
    font-size: 24px;
    color: #ffffff;
}

/* Aplicar la fuente a los enlaces del menú */
.navbar-nav .nav-link {
    font-family: "Arial", sans-serif;
    font-size: 18px;
    color: #ffffff;
}

/* Cambiar el color del enlace activo */
.navbar-nav .nav-link.active {
    color: #3e12c4; /* Color más oscuro para resaltar */
}

/* Cambiar el color del enlace al pasar el mouse */
.navbar-nav .nav-link:hover {
    color: #F28E00; /* Color secundario */
}

/* Cambiar el color del botón toggler (ícono de menú en móviles) */
.navbar-toggler {
    border-color: #ffffff;
}

/* Cambiar el color del título <h1> en la sección de contenido principal */
.content h1 {
    color: #851A31;
}

/* Estilos para el video de fondo */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
.video-background iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Contenedor para el logo */
.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

/* Botón de formulario con color institucional */
.btn-enviar {
    background-color: #a5a5a5;
    border: none;
    padding: 10px 30px;
    font-weight: 600;
}
.btn-enviar:hover {
    background-color: #7a7a7a;
}

/* Estilos para el logo */
.logo-container img {
    max-width: 300px;
    width: 100%;
    height: auto;
    opacity: 0.9;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.content {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-top: 100vh;
}
.carousel-item img {
    height: 500px;
    object-fit: cover;
}
.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

/* Estilos para el footer con color institucional */
footer {
    background-color: #851A31;
    color: white;
    padding: 20px 0;
    text-align: center;
}
footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}
footer a:hover {
    color: #F28E00;
}

.text-container-lista {
    width: 50%; /* Ajusta el ancho del contenedor */
    margin: 0; /* Centra horizontalmente */
    text-align: left; /* Alinea el texto a la izquierda */
}
